<!DOCTYPE html>
<html lang="be-NL" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=0.4,user-scalable=no">
    <title>Museum app</title>
    <link rel="stylesheet" href="/css/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap" rel="stylesheet">

  </head>
  <body>
<footer>
  <div class="footer">
    <div class="flex">
      <a href="/contact"><h3>Contact</h3></a> 
      <h3>Route</h3>
      <h3>Koop ticket</h3>
    </div>
    <div class="bezoek">
      <h4>Bezoek ons:</h4>
      <div class="flex2">
        <img src="/afb/instagram.png" alt="">
        <img src="/afb/facebook.png" alt="">
        <img src="/afb/twitter.png" alt="">
      </div>
      <img class="leiden" src="/afb/leiden.png" alt="logo leiden">
    </div>

  </div>
</footer>
<script src="/js/script1.js"></script>
  </body>
</html>
