<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/stylegriek.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap" rel="stylesheet">
    <title></title>
  </head>
  <body>



    <article > 
      <h2 class="titel"> <%=info.name %></h2>
      <img  class="foto1" id="kleiner1" src="/afb/<%= info.image%>" >
      <a class="lezen"href="/tentoonstelling1/<%=index %>">meer lezen...</a>
    </article>



  </body>
</html>
