<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/stylegriek.css">
    <title></title>
  </head>
  <body>



    <article class="raster">
      <h2 class="titel"><%=info.name %></h2>
      <img  class="foto1" id="kleiner1" src="/afb/<%= info.image%>" >
      <a class="lezen"href="/tentoonstelling1/<%=index %>">meer lezen...</a>
    </article>



  </body>
</html>
