<!DOCTYPE html>
<html lang="be-NL" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=0.4,user-scalable=no">
    <title>Museum app</title>
    <link rel="stylesheet" href="/css/stylegriek.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap" rel="stylesheet">

  </head>
  <body>

    <header>
      <div class="grid">
        <img class="logo" src="/afb/logo.png" alt="logo">
        <a href="#" class="menu"><img  src="/afb/menu.png" alt="logo"></a>
      </div>

      <nav>
          <a href="/">Home</a>
          <a href="#">Openingsuren</a>
          <a href="#">Wie zijn we?</a>
      </nav>


    </header>

    <main>


      <h1>Griekse goden</h1>
      <div class="raster">
        <img class="foto1" src="/afb/apollo3.png" alt="">
        <a href="#"><h2 class="titel">Apollo</h2></a>
        <p class="info">Apollo (Oudgrieks: Ἀπόλλων, Apóllôn, of Ἀπέλλων, Apéllôn) was een van de belangrijkste godheden van de Griekse mythologie. Zijn eredienst.... <a href="#">lees meer</a> </p>
      </div>

      <div class="raster">
        <img class="foto1" src="/afb/aphordite1.png" alt="">
        <a href="#"><h2 class="titel">Aphrodite</h2></a>
        <p class="info">Aphrodite (Oudgrieks: Ἀφροδίτη, Aphrodítē) is in de Griekse mythologie de godin van onder andere de liefde, de schoonheid, de seksualiteit en.... <a href="#">lees meer</a> </p>
      </div>

      <div class="raster">
        <img class="foto1" src="/afb/hestia1.png" alt="">
        <a href="#"><h2 class="titel">Hestia</h2></a>
        <p class="info">Hestia (Oudgrieks: Ἑστία, Hestía; Ionisch: Ἱστία, Istía; ook bekend als Ἑξία, Hexía en Ἑστρία, Hestría) is een figuur uit de Griekse mythologie. Zij was de oudste dochter van.... <a href="#">lees meer</a> </p>
      </div>


      <div class="raster">
        <img class="foto1" src="/afb/hygeai1.png" alt="">
        <a href="#"><h2 class="titel">Hygieia</h2></a>
        <p class="info">Hygieia (Oudgrieks: Ὑγιεία, Hygieía of Ὑγεία, Hygeía, "gezondheid"), een van de dochters van Asklepios en Epione, is in de Griekse godsdienst de godin van de gezondheid,.... <a href="#">lees meer</a> </p>
      </div>

      <div class="raster">
        <img class="foto1" id="kleiner1" src="/afb/Artemis1.png" alt="">
        <a href="#"><h2 class="titel">Artemis</h2></a>
        <p class="info">Artemis (Oudgrieks: Ἄρτεμις) is een godin uit de Griekse mythologie. Zij behoorde daarna tot de twaalf goden van het Griekse Pantheon en is daar een dochter van..... <a href="#">lees meer</a> </p>
      </div>

      <div class="raster">
        <img class="foto1" src="/afb/zeus1.png" alt="">
        <a href="#"><h2 class="titel">Zeus</h2></a>
        <p class="info">Zeus (gangbare uitspraak in Nederland: Zuis; Oudgrieks: Ζεύς (Oudgriekse uitspraak: Dzews), genitivus Διός of Ζηνός) is een figuur in de Griekse mythologie.Hij is de oppergod, die heerste vanaf de berg Olympus. Hij was een zoon van..... <a href="#">lees meer</a> </p>
      </div>

      <div class="raster">
        <img class="foto1" src="/afb/persephone1.png" alt="">
        <a href="#"><h2 class="titel">Persephone</h2></a>
        <p class="info">Persephone (Oudgrieks: Περσεφόνεια, Persephoneia (vooral bij Homeros) of Περσεφόνη, Persephonè; Latijn: Proserpina) is in de Griekse mythologie de godin van het dodenrijk. Ze was de dochter..... <a href="#">lees meer</a> </p>
      </div>


      <div class="raster">
        <img class="foto1" id="kleiner2" src="/afb/demeter1.png" alt="">
        <a href="#"><h2 class="titel">Demeter</h2></a>
        <p class="info">Demeter (Oudgrieks: Δημήτηρ, Dêmếtêr) is een figuur uit de Griekse mythologie. Zij was de dochter van Kronos en Rhea[1] en dus een zus van Zeus, Poseidon, Hades, Hera en Hestia. Demeter was de godin..... <a href="#">lees meer</a> </p>
      </div>

      <div class="raster">
        <img class="foto1" id="kleiner2" src="/afb/hades1.png" alt="">
        <a href="#"><h2 class="titel">Hades</h2></a>
        <p class="info">Hades (Oudgrieks: Άδης), ook Haides (Ἅιδης), Ploutoon (Πλούτων), Plouteus (Πλουτεύς) of Pluto, Orcus, Dis Pater (Latijn) is een figuur uit de Griekse mythologie. Hij is de god van de onderwereld of Schimmenrijk en..... <a href="#">lees meer</a> </p>
      </div>

      <div class="raster">
        <img class="foto1" id="kleiner1" src="/afb/hermes1.png" alt="">
        <a href="#"><h2 class="titel">Hermes</h2></a>
        <p class="info">Hermes (Oudgrieks: Ἑρμῆς, ook Hermeias Ἑρμείας, Dorisch: Ἑρμᾶς) is een figuur uit de Griekse mythologie. Hij is een zoon van de oppergod Zeus en de bergnimf Maia en is met name bekend als god van de handel, de reizigers, de wegen en..... <a href="#">lees meer</a> </p>
      </div>

      <div class="raster">
        <img class="foto1" id="kleiner2" src="/afb/poseidon1.png" alt="">
        <a href="#"><h2 class="titel">Poseidon</h2></a>
        <p class="info">Poseidon (Oudgrieks: Ποσειδῶν, Poseidỗn; Dorisch: Ποτειδαν, Poteidan, Ποσειδάων, Poseidáôn[1]) is in de Griekse mythologie de god die heerst over de zee, de wateren en hun goden. Maar hij was ook een god van de paarden en..... <a href="#">lees meer</a> </p>
      </div>

    </main>

<script src="/js/script2.js"></script>
</body>
</html>
