<!DOCTYPE html>
<html lang="be-NL" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=0.4,user-scalable=no">
    <title>Museum app</title>
    <link rel="stylesheet" href="/css/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap" rel="stylesheet">

  </head>
  <body>
<header>
  <div class="grid">
    <img class="logo" src="/afb/logo.png" alt="logo">
    <a href="#" class="menu"><img  src="/afb/menu.png" alt="logo"></a>
  </div>

  <nav>
      <a href="/">Home</a>
      <a href="/openingsuren">Openingsuren</a>
      <a href="/contact">Wie zijn we?</a>
  </nav>


</header>
<script src="/js/script1.js"></script>
  </body>
</html>
