<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/stylegriek.css">
    <title></title>
  </head>
  <body>

<%- include('header'); -%>


    <h1>Openingsuren</h1>

    <div class="openingsuren">
      <ul>
        <li>Maandag: gesloten</li>
        <li>Dinsdag:  10.00 - 17.00 uur</li>
        <li>Woensdag:  10.00 - 17.00 uur</li>
        <li>Donderdag:  10.00 - 17.00 uur</li>
        <li>Vrijdag:  10.00 - 17.00 uur</li>
        <li>Zaterdag:  10.00 - 17.00 uur</li>
        <li>Zondag:  10.00 - 17.00 uur</li>
      </ul>
    </div>


<%- include('footer'); -%>


</body>
</html>
