
<%- include('header'); -%>

    <h1>Griekse goden</h1>



        <div id="filters" class="button-group">  <button class="button is-checked" data-filter="*">Alles</button>
          <button class="button" data-filter=".man">Man</button>
          <button class="button" data-filter=".vrouw">Vrouw</button>

        </div>


        <p class="lol" ><input type="text" class="quicksearch" placeholder="Zoek op naam.." size="5">  </p>


 <div class="raster">


    <% for (let i=0; i<infos.length; i++) { %>
      <section class ="element-item <%=infos[i].geslacht %>" >
          <%- include('god', {info: infos[i], index: i}); -%>

</section>
<% } // close forloop %>

 </div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="/js/isotope.js"></script>
<script src="/js/script2.js"></script>

<%- include('footer'); -%>
