@import url("https://use.typekit.net/qlj0rmj.css");

body{
  background-color: black;
}
header{
  height: 15rem;
}


.grid{
  display: grid;
  grid-template-columns: 50rem 5rem;
  grid-gap: 1rem;
  height: auto;
  width: 100%;
  margin-bottom: 4rem;
}
.logo{
  grid-column: 1;
  width: 50%;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 10rem;

}
.menu img{
  grid-column: 2;
  width: 5%;
  position: fixed;
  padding-top: 3rem;


}

h1{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-left: 2rem;
  font-size: 3rem;

}

h2{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}

h3{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 2.3rem;
}
h4{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 2.3rem;
}
p{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  margin-top: 2.3rem;
}
p a{
  color: #85784A;
  text-decoration: underline;
}
a{
  font-size: 1.2rem;
  color: #85784A;
    font-family: 'Roboto', sans-serif;
  text-decoration: underline;
}

nav {
    display: block;
      opacity: 0;
      height: 0rem;
      width: 15rem;
      line-height: 2rem;
      overflow: hidden;
      transition: all 1s;
      margin-top: 1rem;
      position: fixed;
      left: 70vw;
      right: 3rem;
      top: 7rem;
      line-height: 1rem;
      background-color: #85784A;
}

nav a {
      font-weight: 400;
      text-decoration: none;
      color: white;
      font-family: sans-serif;
      font-size: 1.5rem;
      display: block;
      line-height: 1.2rem;
      padding: 2.3rem;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
}

nav a:hover {
  color: black;
}

.zichtbaar {
      opacity: 1;
      visibility: visible;
      height: 7rem;
            height: 18rem;
}


.raster{
  margin-left: 1rem;
  margin-right: auto;
  display: block;
  margin-bottom: 3rem;
}

.raster2{
  display: grid;
  grid-template-columns: 20rem 20rem;
  margin-left: 3rem;

}

.foto1{
  grid-column: 1;
  grid-row: 2;
  width: 80%;
  padding-left: -5rem;

}
.titel{
  grid-column: 1;
  grid-row: 1;
  width: 100%;

}
.info{
  grid-column: 2;
  grid-row: 1;
  width: 100%;
  padding-top: 1rem;
}
.lezen{
  grid-column: 1;
  grid-row: 3;
  width: 100%;
  font-size: 2rem;
  padding-left: 4rem;

}


#kleiner1{
  width: 80%;
  margin-left: 2rem;
}
#kleiner2{
  width: 70%;
  margin-left: 6rem;
}

#text{
  font-size: 1.5rem;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-right: 2rem;
}

#arrow{
  width: 5%;
  padding-right: 2rem;
}

#back{
  margin-left: 3rem;
  font-size: 2rem;
}


.profiel{
  display: grid;
  grid-template-columns: 22rem 12rem 15rem;
  grid-template-rows: 7rem 7rem 7rem 7rem 7rem;
  grid-gap: 1rem;
  margin-left: 2rem;
  padding-top: 5rem;

}

#profiel{
  width: 130%;
  margin-top: -1.5rem;
  margin-left: -4rem;
}

.font{
    font-size: 1.5rem;
}



#onderwerp{
  grid-column: 2;
  grid-row: 1;

}
#onderwerp1{
  grid-column: 2;
  grid-row: 2;
}
#onderwerp2{
  grid-column: 2;
  grid-row: 3;
}
#onderwerp3{
  grid-column: 2;
  grid-row: 4;
}
#onderwerp4{
  grid-column: 2;
  grid-row: 5;
}

#uitleg{
  grid-column: 3;
  grid-row: 1;

}
#uitleg1{
  grid-column: 3;
  grid-row: 2;
}
#uitleg2{
  grid-column: 3;
  grid-row: 3;
}
#uitleg3{
  grid-column: 3;
  grid-row: 4;
}
#uitleg4{
  grid-column: 3;
  grid-row: 5;
}

.strook h2{
  padding-top: 2rem;
  padding-left: 2rem;
}

.strook{
  margin-top: 3rem;
  background-color: #85784A;
  width: 98.4vw;
  height: 60rem;
}
.strook2{
  margin-top: 3rem;
  width: 80vw;
  height: 70rem;
  padding-left: 2rem;
  margin-right: 2rem;
}

#verhaal{
  width: 40%;
  margin-right: 3rem;
}


.container{
  width: 35rem;
  margin-left: 15rem;;
  margin-right: auto;
  padding: 3rem;

}


input{
  margin-bottom: 2rem;
  height: 1rem;
  width: 18rem;
    padding: 1rem;
}


textarea{
  margin-bottom: 2rem;
  height: 10rem;
  width: 18rem;
  padding: 1rem;
}

button{
  background-color: #85784A;
  border: 1rem solid #85784A;
  border-radius: 8rem;
  margin-left: 15rem;
}


.begin{
  background-image: url(/afb/wie.jpg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 20rem;
}

.begin h1{
  padding-top: 15rem;
}
.uitleg{
    background-color:#85784A;
    height: 75rem;
    width: 100%;
}
.wie{
  display: grid;
  grid-template-columns: 30rem 18rem;
  grid-template-rows: 10rem 20rem 8rem 10rem 5rem;
  margin-left: 3rem;
  margin-bottom: 10rem;
  grid-gap: 2rem;

}

.wie h2{
  grid-column: 1/3;
  grid-row: 1;
}
.wie h3{
  grid-column: 1/2;
  grid-row: 3;
  font-size: 2rem;
}

h5{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

.wie h5 .beschrijving1{
  grid-column: 1/2;
  grid-row: 2;

}

.museum1{
  grid-column: 2;
  grid-row: 2;
  width: 120%;
}

.museum2{
  grid-column: 2;
  grid-row: 3/6;
  width: 120%;
}

 .bes{
  grid-column: 1;
  grid-row: 4;

}

.wie ol {
  grid-column: 1/2;
  grid-row: 5;
  font-size: 0.7rem;
  margin-left: -1.5rem;
  color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  font-size: 1.6rem;
}

.openingsuren{
  width: 40rem;
  height: 40rem;
  color: white;
  margin-left: 2rem;
  margin-top: 3rem;
}

.openingsuren ul{
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-decoration: none;
  line-height: 3rem;
}



#filters .button.is-checked{
  background-color: #85784A;
  font-weight: 700;
}
.element-item {
  width: 80%;
  margin-left: 15%;
  margin-right: 10%;
  margin-bottom: 40px;
}
.element-item-after {
  width: 80%;
  margin-left: 15%;
  margin-right: 10%;
  position: absolute;
  z-index: 10;


}

.element-item-invisable{
  display:  none;
  position: absolute;
  z-index: -10;
}
.button-group{
  margin-top: -2px;
  width: 100vw;
  background-color: black;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 10rem 10rem 10rem;
  grid-gap: 2rem;
  margin-left: -2rem;
  margin-right: auto;


}
.button-group button{
  background-color: black;
  color : white;
  height: 4rem;
  width: 10rem;
  font-size: 2rem;
  border: none;
  border-radius: 6rem;
  border: solid 0.1rem white;

}

.lol input{
  border-radius: 6rem;
  border: solid 0.1rem white;
  margin-left: 2rem;
}

.quicksearch {
  font-size: 1.4rem;
  font-weight: bold;

}
